# Puerto de ejecucion del servidor Node.js
PORT=3000

# Entorno de ejecucion (development | production | test)
NODE_ENV=development

# URL de conexion a la base de datos MongoDB
MONGO_URI=mongodb://localhost:27017/access_pass_db

# Clave secreta para la firma y verificacion de JSON Web Tokens (JWT)
TOKEN_SECRET=tu_clave_secreta_super_segura_de_produccion

# Configuracion del Broker MQTT para control de accesos e IoT
MQTT_URI=mqtt://localhost:1883
MQTT_USER=tu_usuario_mqtt
MQTT_PASS=tu_password_mqtt

# Coordenadas geograficas y radio de tolerancia para validacion de ubicacion (Geofencing)
GATE_LAT=-34.6037
GATE_LON=-58.3816
GATE_RAD=50